:root {
    --primary: #b6895b;
    --bg: #010101;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Gaya untuk search form saat aktif */
.search-form.active {
    display: block; /* atau gaya lainnya sesuai kebutuhan Anda */
}

/* Gaya untuk shopping cart saat aktif */
.shopping-cart.active {
    display: block; /* atau gaya lainnya sesuai kebutuhan Anda */
}

/* Gaya untuk navbar saat aktif (untuk mobile menu) */
.navbar-nav.active {
    display: block; /* atau gaya lainnya sesuai kebutuhan Anda */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: white;
    min-height: auto;
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.849);
    border-bottom: 1px solid #393939;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* nav search */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 6%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: #000;
    padding: 1rem;
    border: none;
    outline: none;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: #000;
}

/* Shopping Cart */
.shopping-cart {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    color: #000;
}

#shopping-cart-button {
    position: relative;
}

#shopping-cart-button .quantity-badge {
    display: inline-block;
    padding: 1px 5px;
    background-color: red;
    border-radius: 6px;
    font-size: 0.8rem;
    right: -10px;
    top: 0;
    position: absolute;
}

.shopping-cart {
    width: 500px; /* Adjust the width as needed */
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.shopping-cart .cart-items #add,
.shopping-cart .cart-items #remove {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 10%;
    cursor: pointer;
    margin: 0 8px;
    background-color: #000;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.shopping-cart h2 {
    color: #000;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.shopping-cart h2 span {
    color: var(--primary);
}

.shopping-cart .card {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #000;
    margin-top: 10px;
}

.shopping-cart .card img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-right: 10px;
}

.shopping-cart .item-details {
    flex: 1;
}

.shopping-cart .item-price {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

/* form cekout */
.form-checkout {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    /* border-top: 1px dashed black; */
    margin-top: 1rem;
    padding: 1rem;
}
.form-container label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
.form-container input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.checkout-button {
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}
.checkout-button:hover {
    background-color: #0056b3;
}

.card img {
    max-width: 100px; /* Mengatur lebar maksimum gambar */
    max-height: 100px; /* Mengatur tinggi maksimum gambar */
    margin-right: 10px; /* Menambahkan margin kanan untuk memberikan ruang antara gambar dan teks */
}

.cart-items,
.shopping-cart h1 {
    list-style: none;
    padding: 1rem;
    font-size: 2rem;
    border-bottom: 2px dashed black;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-total {
    margin-top: 10px;
}

.checkout-button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
.checkout-button {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}

.remove-item {
    background: none;
    border: none;
    color: #ff0000;
    font-size: 1.5rem;
    cursor: pointer;
}

.form-container .checkout-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* hero secetion*/
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    background-image: url(img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; /* Ensure the pseudo-element is positioned correctly */
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    background: linear-gradient(
        0deg,
        rgba(1, 1, 3, 1) 3%,
        rgba(255, 255, 255, 0) 50%
    );
}

.hero .content {
    padding: 2rem; /* Increased padding for more space */
    max-width: 60rem;
    text-align: center; /* Center align text */
    margin: 2rem; /* Added margin for extra spacing */
}

.hero .content h1 {
    font-size: 4em; /* Adjusted font-size for better readability */
    color: #fff;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.8); /* Corrected typo from 'rpx' to '2px' */
    line-height: 1.3;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 200;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.8); /* Corrected typo from 'rpx' to '2px' */
    /* mix-blend-mode: difference; */
}

.hero .content .cta {
    margin-top: 1.5rem; /* Slightly increased margin-top for better spacing */
    display: inline-block;
    padding: 1rem 3rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba(1, 1, 1, 0.8); /* Corrected typo from '1px' to '2px' */
}

/* about */
.about,
.menu,
.contact,
.product {
    padding: 9rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2,
.product h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span,
.product h2 span {
    color: #b6895b;
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
    border-radius: 5%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 2.5rem;
    margin: 1rem;
}

.about .row .content p {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.6;
}
/* Menu CSS with Animations */
.menu {
    background-color: gainsboro; /* Warna latar belakang putih */
    padding: 4rem 0; /* Padding atas dan bawah */
    color: #000;
}

.menu h2 {
    margin-bottom: 1.5rem; /* Jarak bawah judul */
    text-align: center; /* Posisi teks menjadi tengah */
    color: #000;
    position: relative; /* Relatif untuk animasi */
}

.menu h2 span,
.about h2 span {
    display: inline-block; /* Menampilkan elemen sebagai blok inline */
    position: relative; /* Relatif untuk animasi */
}

.about h2 span::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fcbf49; /* Warna garis bawah */
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out; /* Transisi lebar */
}

.menu h2 span::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--primary); /* Warna garis bawah */
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out; /* Transisi lebar */
}

.menu h2:hover span::after {
    width: 100%; /* Lebar garis bawah saat hover */
}

.menu p,
.product p {
    text-align: center; /* Posisi teks menjadi tengah */
    max-width: 30rem; /* Lebar maksimum teks */
    margin: auto; /* Pusatkan elemen */
    font-weight: 300; /* Ketebalan font */
    line-height: 1.6rem; /* Tinggi baris */
    transition: opacity 0.3s ease-in-out; /* Transisi opacity */
}

.menu p:hover,
.product p:hover {
    opacity: 0.8; /* Kurangi opacity saat hover */
}

.menu .row {
    display: flex; /* Tampilan flex */
    flex-wrap: wrap; /* Wrap item ke baris baru jika tidak muat */
    justify-content: center; /* Pusatkan item secara horizontal */
    gap: 16px; /* Jarak antar elemen */
    color: #000;
    margin-top: 3rem; /* Jarak atas */
}

.menu .row .menu-card {
    text-align: center; /* Posisi teks menjadi tengah */
    flex: 1 1 calc(20% - 32px); /* Bagian kartu mengambil 20% lebar dengan jarak sisi 16px */
    box-sizing: border-box; /* Memastikan padding dan border tidak mempengaruhi ukuran elemen */
    padding-bottom: 2rem; /* Padding bawah */
    padding: 1.5rem;
    max-width: calc(20% - 32px); /* Lebar maksimum kartu */
    position: relative; /* Relatif untuk animasi */
    transition: transform 0.3s ease-in-out; /* Transisi transformasi */
}

.menu .row .menu-card img {
    border-radius: 10%; /* Sudut gambar */
    width: 100%; /* Lebar gambar */
    transition: transform 0.3s ease-in-out; /* Transisi transformasi */
}

.menu .row .menu-card:hover {
    transform: translateY(-10px); /* Geser kartu ke atas saat hover */
}

.menu .row .menu-card:hover img {
    transform: scale(1.05); /* Perbesar gambar saat hover */
}

.menu .menu-card h3 {
    margin-top: 1.5rem; /* Jarak atas judul */
    transition: color 0.3s ease-in-out; /* Transisi warna teks */
    color: #000;
}

.menu .menu-card:hover h3 {
    color: var(--primary); /* Warna judul saat hover */
}

.menu .row .menu-card-price {
    margin-top: 1.5rem; /* Jarak atas harga */
    transition: color 0.3s ease-in-out; /* Transisi warna teks */
}

.menu .row .menu-card:hover .menu-card-price {
    color: var(--primary); /* Warna harga saat hover */
}

/* product */
.product .row {
    display: flex;
    flex-wrap: wrap; /* Cards wrap to the next row if they don't fit in one row */
    justify-content: space-evenly; /* Space cards evenly */
    gap: 1rem; /* Space between product cards */
    margin-top: 4rem;
    padding: 1rem;
}

.product .product-card {
    flex: 0 1 calc(25% - 0.5rem); /* Each product card is 25% of the container width, with a 0.5rem gap */
    text-align: center;
    border: 1px solid #000;
    padding: 1rem;
    background-color: rgba(252, 252, 252, 0.74);
    margin-top: 1rem;
    border-radius: 8px;
    color: #000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* More subtle shadow */
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px; /* Maximum card width */
}

.product .product-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product .product-card img {
    width: 100%; /* Image fills the entire card width */
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.product .product-card img:hover {
    transform: scale(1.03);
}

.product .product-card .product-card-title {
    margin-top: 1rem;
    font-size: 1rem; /* Reduced title size */
    font-weight: 600;
    color: #333;
}

.product .product-price {
    margin-top: 0.5rem;
    font-size: 1.3rem; /* Reduced price size */
    font-weight: bold;
    color: #000;
}

.product .product-icon {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.product .product-icon i {
    font-size: 2rem; /* Reduced icon size */
    color: var(--primary);
}

.product .product-star {
    display: flex; /* Display stars in a row */
    justify-content: center; /* Center the stars horizontally */
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--primary);
}

.product .product-star .star {
    fill: var(--primary);
}

.product .product-icon span {
    font-size: 1.2rem;
    font-weight: 200;
}

.product .product-icon a {
    width: 3rem;
    height: 3rem;
    color: #0b0b0b;
    margin: 0.3rem;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.product .product-icon a:hover {
    background-color: var(--primary);
    color: #fff;
    border-color: var(--primary);
}
.contact {
    background-color: gainsboro; /* Warna latar belakang */
    padding: 4rem 0; /* Padding atas dan bawah */
    text-align: center; /* Posisi teks menjadi tengah */
}

.contact h2 {
    font-size: 2.5rem; /* Ukuran font besar */
    color: #333333; /* Warna teks */
    margin-bottom: 1rem; /* Jarak bawah */
}

.contact h2 span {
    color: var(--primary); /* Warna teks kuning */
}

.contact .header-contact {
    max-width: 800px; /* Lebar maksimum konten */
    margin: 0 auto; /* Pusatkan konten */
}

.contact .header-contact h3 {
    font-size: 1.8rem; /* Ukuran font subjudul */
    color: #333333; /* Warna teks */
}

.contact .header-contact p {
    margin-top: 1rem; /* Jarak atas */
    line-height: 1.6; /* Line-height untuk keterbacaan */
    color: #666666; /* Warna teks abu-abu */
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Pusatkan item secara horizontal */
    gap: 2rem; /* Jarak antar elemen */
    max-width: 1200px; /* Lebar maksimum */
    margin: 0 auto; /* Pusatkan konten */
    padding: 2rem; /* Padding */
    background-color: #ffffff; /* Warna latar belakang */
    border-radius: 10px; /* Sudut elemen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan elemen */
}

.contact .maps {
    flex: 1 1 100%; /* Bagian peta mengambil seluruh lebar */
    height: 400px; /* Tinggi peta */
    border-radius: 10px; /* Sudut elemen */
}

.contact form {
    flex: 1 1 100%; /* Bagian formulir mengambil seluruh lebar */
    max-width: 600px; /* Lebar maksimum formulir */
    text-align: left; /* Posisi teks kiri */
}

.contact form h2 {
    font-size: 1.8rem; /* Ukuran font subjudul */
    color: #333333; /* Warna teks */
    margin-bottom: 2rem; /* Jarak bawah */
}

.contact .input-group {
    display: flex;
    align-items: center;
    margin-top: 1.5rem; /* Jarak atas */
    background-color: #f0f0f0; /* Warna latar belakang input */
    padding: 1rem 1.5rem; /* Padding */
    border-radius: 5px; /* Sudut elemen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bayangan elemen */
}

.contact .input-group i {
    margin-right: 1rem; /* Jarak kanan ikon */
    color: #333333; /* Warna ikon */
}

.contact .input-group input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #333333; /* Warna teks */
    font-size: 1rem; /* Ukuran font */
}

.contact .input-group input::placeholder {
    color: #999999; /* Warna placeholder */
}

.contact .btn {
    margin-top: 2rem; /* Jarak atas */
    padding: 1rem 2rem; /* Padding */
    border: none; /* Tanpa border */
    background-color: #ffc107; /* Warna latar belakang tombol */
    color: #333333; /* Warna teks tombol */
    font-size: 1rem; /* Ukuran font */
    border-radius: 5px; /* Sudut elemen */
    cursor: pointer; /* Pointer saat dihover */
    transition: background-color 0.3s, color 0.3s; /* Transisi warna latar belakang dan teks */
}

.contact .btn:hover {
    background-color: #333333; /* Warna latar belakang tombol saat dihover */
    color: #ffffff; /* Warna teks tombol saat dihover */
}

/* footer */
footer {
    background-color: #b6895b;
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3.2rem;
}
footer .social {
    padding: 1rem 0;
}

footer .social a {
    margin: 1rem;
}

footer .social a:hover {
    color: var(--bg);
}

footer .links a {
    color: #ffffff;
    padding: 0.7rem 0.7rem 0.7rem;
}

footer .credit a {
    color: #000000;
    padding: 0.7rem;
    font-weight: 700;
}

/* Modal box */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-container {
    position: relative;
    background-color: #fff;
    color: #333;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: animateModal 0.8s; /* Menambahkan animasi pada modal-container */
    animation-fill-mode: forwards; /* Untuk menjaga elemen di posisi terakhir setelah animasi selesai */
}

/* modal animasi */
@keyframes animateModal {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0); /* Kembali ke posisi asal */
    }
}

.modal-container .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #aaa;
    text-decoration: none;
}

.modal-container .modal-content {
    display: flex;
    align-items: center;
}

.modal-container img {
    max-width: 45%;
    border-radius: 5px;
    margin-right: 20px;
}

.modal-container .prodact-content {
    flex: 1;
}

.modal-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-container .product-star {
    /* color: #f8ce0b; */
    margin-bottom: 10px;
}

.modal-container .product-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-container p {
    margin-bottom: 20px;
}

.modal-container a {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 1rem;
    background-color: var(--primary);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.modal-container a:hover {
    background-color: #e0b90b;
}

/* media query for laptop */
@media (max-width: 1366px) {
    html {
        font-size: 80%;
    }

    .menu .row .menu-card {
        flex: 1 1 calc(16.666% - 20px); /* 6 columns on large screen */
        max-width: calc(16.666% - 20px);
    }
    .product .row {
        gap: 0.6rem; /* Space between product cards */
        justify-content: space-between; /* Space cards evenly */
    }

    .product .product-card {
        flex: 0 1 calc(30% - 1rem); /* 3 columns on large screen */
        max-width: calc(30% - 1rem);
        margin-top: 1rem;
    }
}

/* media query for tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: fixed; /* change to fixed for sticky menu */
        top: 100%;
        right: -100%;
        width: 30rem;
        height: 100vh;
        background-color: #fff;
        transition: 0.3s;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        flex: 1 1 100%;
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }
    .menu p h3 {
        font-size: 1rem;
    }

    .menu .row .menu-card {
        flex: 1 1 calc(50% - 32px); /* 2 columns on tablet */
        max-width: calc(50% - 32px);
    }

    .menu-card-name {
        font-size: 0.8rem;
    }

    .modal-content {
        flex-wrap: wrap;
    }
    .product .row {
        gap: 1rem; /* Space between product cards */
        justify-content: center; /* Space cards evenly */
    }

    .product .product-card {
        flex: 0 1 calc(45% - 1rem); /* 2 columns on tablet */
        max-width: calc(45% - 1rem);
        margin-top: 1rem;
    }
}

/* media query for mobile */
@media (max-width: 450px) {
    html {
        font-size: 40%;
    }

    .menu-card-name {
        font-size: 0.8rem;
    }

    .menu .row .menu-card {
        flex: 1 1 100%; /* 1 column on small devices */
        max-width: 100%;
    }

    .product .row {
        gap: 1rem; /* Space between product cards */
        justify-content: center; /* Center cards */
    }

    .product .product-card {
        flex: 0 1 calc(90% - 1rem); /* Full width on small devices */
        max-width: calc(90% - 1rem);
        margin-top: 1rem;
    }
}
